{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h2 class="border-bottom py-2">{{ worship.date|datetime }} {{ worship.part }}</h2>
    <div class="row my-3">
        <div class="card-body">
            <div class="card-text">
                <div class="worship_info">
                    <p class="h5"></p>
                </div>
                <div class="users px-2 mt-0">
                    <p class="h5">예약자 명단 ({{ worship.curnum }}명 / {{ worship.limit }}명)</p>
                    {% for s in worship.seat_set %}
                        {% if s.status == 1 %}
                            {% if g.user %}
                            <button class="btn btn-primary del" data-uri="{{ url_for('seat.delete', seat_id=s.id) }}">{{ s.user }}</button>
                            {% else %}
                            <button class="btn btn-primary">{{ s.user }}</button>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <form method="post" class="post-form my-3">
        {{ form.csrf_token }}
        <!-- 오류표시 Start -->
        {% include "form_errors.html" %}
        <!-- 오류표시 End -->
        {% if worship.curnum < worship.limit %}
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" class="form-control" name="name" id="name" value="{{ form.name.data or '' }}">
        </div>
        <button type="submit" class="btn btn-primary">등록하기</button>
        {% else %}
        <div class="alert alert-danger" role="alert">
            예약이 가득 찼습니다.
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}
{% block script %}
{% if g.user %}
<script type="text/javascript">
$(document).ready(function(){
    $(".del").on('click',function() {
        if(confirm("정말로 예약을 삭제하시겠습니까?")) {
            location.href = $(this).data('uri')
        }
    });
});
</script>
{% endif %}
{% endblock %}