{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" class="post-form my-3">
        {{ form.csrf_token }}
        <!-- 오류표시 Start -->
        {% include "form_errors.html" %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <label for="code">비밀번호</label>
            <input type="password" class="form-control" name="code" id="code" value="{{ form.code.data or '' }}">
        </div>
        <button type="submit" class="btn btn-primary">접속</button>
    </form>
</div>
{% endblock %}