{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class="form-group">
        <div class="button-menu">
            {% if not menus %}
                <div class="alert alert-danger" role="alert">
                    등록된 예배가 없습니다.
                </div>
            {% else %}
            {% for menu in menus %}
                <button type="button" class="btn btn-primary btn-lg" onclick="location.href='{{ menu.href }}'">{{ menu.name }}</button>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}