{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table" id="w-table">
        <thead>
        <tr class="text-center thead-dark">
            <th>선택</th>
            <th>번호</th>
            <th>예배 날짜</th>
            <th>예배 구분</th>
            <th>인원</th>
        </tr>
        </thead>
        <tbody>
        {% if worship_list %}
        {% for worship in worship_list %}
        <tr class="text-center" id="{{ worship.id }}">
            <td><input type="checkbox" name="checkboxName" data-uri="{{ url_for('worship.delete',worship_id = worship.id) }}"></td>
            <td>{{ worship.id}}</td>
            <td>{{ worship.date|datetime }}</td>
            <td style="background: {{ worship.worshiptype.bgcolor }}"><a href="{{ url_for('seat._list',worship_id=worship.id) }}">{{ worship.part }}</a></td>
            <td>{{ worship.curnum }} / {{ worship.limit }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">등록된 예배가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="{{ url_for('worship.add') }}" class="btn btn-primary">예배 추가</a>
    <a href="#" class="delete btn btn-primary">예배 삭제</a>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
    $(".delete").on('click',function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            let rowData = new Array();
            let checkbox = $("input[name=checkboxName]:checked");
            location.href = checkbox.data('uri');
        }
    });
});

$("input[name=checkboxName]").on('change',function(){
    $("input[name=checkboxName]").not(this).prop('checked',false);
});

$("#w-table").tableDnD();

$(function(){
    $("#w-table").tableDnD({
    onDragClass: "dragRow",
    onDrop : function(table, row) {

        var rows = table.tBodies[0].rows;
        var rows_list = [];

        for (var i=0; i < rows.length; i++)
        {
            rows_list.push(rows[i].id);
        }
        console.log()

        $.ajax({
        type: 'post',
        url: '/worship/changeid/',
        data: JSON.stringify({rows:rows_list}),
        dataType : "json",
        success: function(data, textStatus, jqXHR)
        {
            window.location.href = '/worship/list/';
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
            window.location.href = '/worship/list/';
        }
        });
    }
    });
})
</script>
{% endblock %}